<chapitre class="mx-auto">
	<div>
		<div class="card-body">
			<ul class="list-group">
				<li class="list-group-item bg-primary text-white">
					<h2>Session du {props.storyline.date}<br>
				</li>
				<li class="list-group-item border-primary">
					{props.storyline.contenu}
				</li>
			</ul>
		</div>
	</div>
</chapitre>