<dashboard>
    <div class="container">
        <div class="bg-primary text-white mx-auto">
            <h1>Bonjour {user.name}!</h1>
            <h2>ID n°{user.id}!</h2>        
            <h2>Est MJ? {user.estMJ}!</h2>
        </div>
    </div>
</dashboard>