<dashboard>
    <div class="container">
        <div class="bg-primary text-white mx-auto">
            <h1>Bonjour {user.name}!</h1>
            <h2>ID n°{user.id}</h2>        
            <h2> est MJ : {user.estMJ}</h2>
            <h2>Partie n° {user.partyId}!</h2>
        </div>
    </div>
</dashboard>